---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro'
import LinkedInIcon from '../icons/LinkedIn.astro';
import SocialPill from '../components/SocialPill.astro';
import EmailIcon from '../icons/Email.astro';
import Experience from '../components/Experience.astro';
---

<Layout 
	title="Juan Cruz Morales - Electromechanical Engineer - Portfolio."
	description="Contrata a JC"	
>
	<main>
		<SectionContainer class="py-44 pb-24">
		<div class="inline-flex justify-center items-center">
			<h1 id="jc"
				class="text-white text-2xl font-blod flex flex-row gap-x-4 pt-4 pb-4 md:text-3xl lg:text-4xl">
				Hey there, I'm Juan Cruz 
			</h1>
			<a id="Badge"
				href="https://www.linkedin.com/in/juan-cruz-morales/"
				target="_blank"
				class="flex justify-center items-center"
				>
				<Badge>Available for hire</Badge>
				</a>
		</div>	
			<h2 class="text-base opcaity-80 text-wrap md:text-xl lg:text-2xl">Electromechanical Engineer, Lean Manufacturing expecialist and Data Analyst and Web Developer in Progress. Born in Argentina, living somewhere else. Specialize in troubleshooting</h2>
			<nav class="flex gap-x-2 py-2">
				<ul class="flex  gap-x-3">
					<li>
						<SocialPill href="https://www.linkedin.com/in/juan-cruz-morales/">
							<LinkedInIcon class="size-6"/>
							LinkedIn
						</SocialPill>
					</li>
					<li>
						<SocialPill href="mailto:juancmb93@gmail.com">
							<EmailIcon class="size-6"/>
							Email
						</SocialPill>
					</li>
					

				</ul>
			</nav>

		</SectionContainer>

		<SectionContainer id="background">
			<h2 class="text-2xl font-semibold mb-6">
				Background
			</h2>
				<Experience />
		</SectionContainer>

		<SectionContainer id="background">
			<h2 class="text-2xl font-semibold mb-6">
				Proyect
			</h2>
				
		</SectionContainer>

	</main>



</Layout>

<style>
	@media screen and (max-width: 620px) {
		#Badge { display: none;		
		}
		#jc { color: rgb(253 186 116);
			
		}

		
	}

</style>