<span class="
            bg-orange-50
            inline-flex ms-2 px-2 py-0 rounded
            text-nowrap text-orange-500 text-[10px] font-medium
            md:text-xs md:me-2 md:px-2.5 md:py-0.5
            dark:bg-blue-900 dark:text-blue-300">
<slot />


</span>
