---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        title: 'Accommodation Executive',
        badge:'English',
        badge2:'Badget managment',
        badge3:'Costumer service',
        badge4:'KPIs',
        date: 'Sep 2022',
        description: 'Responsible for managing the accommodation department and course seller.',

    },
    {
        title: 'Producction Engineer',
        badge:'Lean Manufacturing',
        date: 'Jan 2019',
        description: 'Daily production management,  implementing Lean manufacturing practices, gathering, cleaning and analyzing data to create reports and action plans to improve KPI performance.',
        link: '#',
    }
 
]
---



<ol class="relative ml-10 border-s border-gray-200 dark:border-gray-700">
    {
        
        EXPERIENCE.map(experience => (
        <li class="mb-10 ms-6">
             <ExperienceItem {... experience} />
        </li>
        ) )
    }                 
</ol>

