<header class="flex justify-center gap-x-40 items-center py-5  xl:w-[1120px] mx-auto">
    <img 
        class="rounded-full w-12 h-12" 
        src="https://1drv.ms/i/c/e8e525c9bac9f285/IQRar1b4RmZOQIIEqm0O8V7-AelmPI_G_ACoORq4UuapV6M?width=256" 
        alt="Logo"/>

    <nav>
        <ul class="flex flex-row items-center justify-center gap-x-10 opacity-80">
            <il> <a href="#top">Home</a> </il>
            <il> <a href="#about">About</a> </il>
            <il> <a href="#background">Background</a> </il>
            <il> <a href="#projects">Project</a> </il>
            <il> <a href="#contact">Contact</a> </il>
        </ul>

    </nav>

</header>